[submodule "sw/apes-components/KVMx86Processor"]
	path = sw/apes-components/KVMx86Processor
	url = ssh://sls_gitserver/srv/git/KVMx86Processor
[submodule "sw/apes-components/KVMAnnotationManager"]
	path = sw/apes-components/KVMAnnotationManager
	url = ssh://sls_gitserver/srv/git/KVMAnnotationManager
[submodule "examples/applications/kvmParallelMjpeg"]
	path = examples/applications/kvmParallelMjpeg
	url = ssh://sls_gitserver/srv/git/ParallelMjpeg
